<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <th:block layout:fragment="content">
    <!--/* 게시글 영역 */-->
    <div class="table-responsive clearfix">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일</th>
            <th>조회 수</th>
          </tr>
        </thead>

        <!--/* 게시글 리스트 Rendering 영역 */-->
        <tbody id="list">
          <tr th:each="list : ${boardsList}">
            <th th:text="${list.id}"></th>

            <th th:onclick="goView([[${list.id}]])"
                th:text="${list.title}"></th>

            <th th:text="${list.writer}"></th>
            <th th:text="${list.createDate}"></th>
            <th th:text="${list.hits}"></th>
          </tr>
        </tbody>
      </table>
      <div class="btn_wrap text-right">
        <a
          th:href="@{/boards/write}"
          class="btn btn-primary waves-effect waves-light"
          >Write</a
        >
      </div>

      <!-- 페이지네이션 Rendering 영역 -->
      <nav></nav>
    </div>
  </th:block>

  <th:block layout:fragment="script">
    <script th:inline="javascript">
      /*<![CDATA[*/
      /**
       * 페이지 로딩 시점에 실행되는 함수
       */
      window.onload = () => {
        findAll();
      };

      /**
       * 게시글 리스트 조회
       */
      function findAll() {
        fetch("/boards/list")
          .then((response) => {
            if (response.ok) {
              return response.json();
              console.log(response.json());
            }
          })
          .then((json) => {
            let html = "";

            if (!json.length) {
              html = '<td colspan="5">등록된 게시글이 없습니다.</td>';
            } else {
              json.forEach((obj, idx) => {
                html += `
							<tr>
		  						<td>${json.length - idx}</td>
		  						<td class="text-left">
		  							<a href="javascript: void(0);" onclick="goView(${obj.id})">${obj.title}</a>
		  						</td>
		  						<td>${obj.writer}</td>
		  						<td>${moment(obj.createdDate).format("YYYY-MM-DD HH:mm:ss")}</td>
		  						<td>${obj.hits}</td>
							</tr>
						`;
              });
            }

            document.getElementById("list").innerHTML = html;
          });
      }

      /**
       * 게시글 조회
       */
      function goView(id) {
        console.log(id)
        location.href = `/boards/list/${id}`;
      }
      /*]]>*/
    </script>
  </th:block>
</html>
