<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="content">
    <div class="card-content">
        <form class="form-horizontal form-view">
            <div class="form-group">
                <label for="inp-type-1" class="col-sm-2 control-label">제목</label>
                <div class="col-sm-10"><p id="title" class="form-control" th:text="${boardDetail.title}"></p></div>
            </div>

            <div class="form-group">
                <label for="inp-type-2" class="col-sm-2 control-label">이름</label>
                <div class="col-sm-10"><p id="writer" class="form-control" th:text="${boardDetail.writer}"></p></div>
            </div>

            <div class="form-group">
                <label for="inp-type-5" class="col-sm-2 control-label">내용</label>
                <div class="col-sm-10"><p id="content" class="form-control" th:text="${boardDetail.content}"></p></div>
            </div>

            <div class="form-group">
                <label for="inp-type-5" class="col-sm-2 control-label">등록일</label>
                <div class="col-sm-10"><p id="createdDate" class="form-control" th:text="${boardDetail.createdDate}"></p></div>
            </div>

            <div class="form-group">
                <label for="inp-type-5" class="col-sm-2 control-label">조회 수</label>
                <div class="col-sm-10"><p id="hits" class="form-control" th:text="${boardDetail.hits}"></p></div>
            </div>
        </form>

        <div class="btn_wrap text-center">
            <a th:href="@{/boards/list}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
            <a th:href="'/boards/update/' +${boardDetail.id}" class="btn btn-primary waves-effect waves-light">수정하기</a>
            <form id="delete" th:action="@{'/boards/delete/' +${boardDetail.id}}" method="post">
                <button type="submit" class="btn btn-danger waves-effect waves-light">삭제하기</button>
            </form>

        </div>
    </div>
    <!-- /.card-content -->
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">
        var boardDetail = /*[[${boardDetail}]]*/;
    </script>
</th:block>

</html>