<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="soung.Uk.mapper.boardMapper">
    <insert id="insertBoard" parameterType="soung.Uk.vo.BoardCreateDto">
        insert into board
            (title,
            content,
            writer,
            delete_yn)
        values
            (#{title},
            #{content},
            #{writer},
            #{deleteYn}
            )
    </insert>

    <select id="getBoardList" resultType="soung.Uk.vo.BoardDto">
        select
            *
        from board
        where delete_yn = "N"
        order by id desc
    </select>

    <select id="getBoardDetail" resultType="soung.Uk.vo.BoardDto" parameterType="Long">
        select
            *
        from board
        where id = #{id}
    </select>

    <update id="deleteBoard" parameterType="Long">
        update board set delete_yn = "Y" where id = #{id}
    </update>

    <update id="patchBoard" parameterType="soung.Uk.vo.BoardCreateDto">
        update board set
        (
            title = #{title},
            content = #{content},
            writer = #{writer},
            delete_yn = #{delete_yn}
        )
    </update>

    <select id="getBoardPatch" resultType="soung.Uk.vo.BoardPatchDto" parameterType="Long">
        select
        *
        from board
        where id = #{id}
    </select>

    <update id="viewCount" parameterType="Long">
        update board set hits = hits + 1
        where id = #{id}
    </update>

    <update id="updateBoard" parameterType="soung.Uk.vo.BoardDto">
        update board set
        title = #{title},
        content = #{content},
        writer = #{writer},
        modified_date = now()
        where id = #{id}
    </update>


</mapper>