<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="soung.Uk.mapper.boardMapper">
    <insert id="insertBoard" parameterType="soung.Uk.vo.BoardCreateDto">
        insert into board (title,content,writer,delete_yn) values (#{title},#{content},#{writer},#{deleteYn})
    </insert>

    <select id="getBoardList" resultType="soung.Uk.vo.BoardDto">
        select * from board
        where delete_yn = "N"
    </select>

    <select id="getBoardDetail" resultType="soung.Uk.vo.BoardDto" parameterType="Long">
        select * from board
        where id = #{id}
    </select>

</mapper>